@model List<Domain.Entities.CategoryWithProductCount>

<div>
    <ul style="list-style:none">
        @foreach (var category in Model)
        {
            <li>
                <a style="font-weight:600;color:gray;font-size:14px;text-decoration:none;margin-left:-20%" asp-controller="Products" asp-action="Index" asp-route-categoryStr="@category.CategoryName">
                    @category.CategoryName
                    (@category.ProductCount)
                </a>
            </li>
        }
    </ul>
</div>
