<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mega shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <style>
        .nav-sidebar a {
            color: white !important;
            font-size: 1.2rem;
            line-height: 40px;
            padding-left: 40px; /* Ajuste o valor conforme necessário */
        }

        .nav-sidebar .dropdown-menu a {
            color: black !important; /* Defina a cor desejada para os itens do dropdown */
        }
    </style>

</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo/logo.png" alt="Megashop">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse d-md-inline-flex justify-content-between">
                        <form class="d-flex flex-grow-1" asp-controller="Products" asp-action="Search" method="get" style="max-width: 400px;">
                            <input class="form-control me-2 bar" type="search" placeholder="Search for Products" aria-label="Search" name="search" value="@ViewData["search"]">
                        </form>

                        <div class="btn d-none d-md-block" style="margin-right:auto;border: 1px solid; color:lightgray">
                            <a asp-controller="" asp-action="">
                                <span>
                                    <i class="fa-solid fa-location-crosshairs" style="color:darkgray"></i>
                                </span>
                            </a>
                        </div>
                        <div class="d-none d-md-block">
                            <i class="fa-regular fa-heart"></i>
                            &nbsp;
                            <a asp-controller="ShoppingCart" asp-action="Index" style="text-decoration:none">
                                <i class="fa-solid fa-cart-shopping" style="color:black"></i>
                                @await Component.InvokeAsync("ShoppingCartMenu")
                            </a>
                            &nbsp;
                            @await Html.PartialAsync("_LoginPartial")
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="border-bottom mt-2 mb-2"></div>

    </header>
    <div>
        <main role="main" class="pb-3 d-flex">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-4 col-lg-2 d-md-block bg-dark sidebar nav-sidebar" style="border-radius: 10px">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li>
                            <a class="nav-link text-center mt-4" style="font-size:1.5rem; color:white" asp-area="Admin" asp-controller="Admin" asp-action="Index">
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-area="Admin"
                               asp-controller="AdminProduct"
                               asp-action="Index"><i class="bi bi-list-ul"></i>&nbsp;  Store</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="AdminOrder" asp-action="Index">
                                <i class="bi bi-boxes"></i>&nbsp;  Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-area="Admin"
                               asp-controller="AdminOrder"
                               asp-action="ConfirmedSalesReport"><i class="bi bi-graph-up-arrow"></i>&nbsp;  Confirmed orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-area="Admin"
                               asp-controller="AdminOrder"
                               asp-action="DispatchedSalesReport"><i class="bi bi-clipboard-data"></i>&nbsp; Dispatched orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-area="Admin"
                               asp-controller="AdminOrder"
                               asp-action="RequestReceivedSalesReport"><i class="bi bi-bar-chart"></i>&nbsp;  Delivered orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="AdminOrder" asp-action="Index">
                                <i class="bi bi-truck"></i>&nbsp;  Deliveries
                            </a>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a class="dropdown-toggle" style="cursor:pointer" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-wallet2"></i>&nbsp;  Payments
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="Admin" asp-controller="AdminPayment" asp-action="IndexCreditCard"><i class="bi bi-credit-card"></i>&nbsp;  Credit card</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="Admin" asp-controller="AdminPayment" asp-action="IndexDebitCard"><i class="bi bi-credit-card-2-back-fill"></i>&nbsp;  Debit card</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="Admin" asp-controller="AdminPayment" asp-action="IndexPayments"><i class="bi bi-cash-coin"></i>&nbsp;  Payments</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="Admin" asp-controller="AdminPayment" asp-action="Index"><i class="bi bi-cash-coin"></i>&nbsp;  Bank slip</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-area="Admin"
                               asp-controller="AdminProduct"
                               asp-action="Index"><i class="bi bi-easel2"></i>&nbsp;  Sales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-area="Admin"
                               asp-controller="AdminProduct"
                               asp-action="Index"><i class="bi bi-percent"></i>&nbsp;  Daily offer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-area="Admin"
                               asp-controller="AdminProduct"
                               asp-action="Index"><i class="bi bi-box-seam"></i>&nbsp;  Best seller</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-area="Admin"
                               asp-controller="AdminProduct"
                               asp-action="Index"><i class="bi bi-heart"></i>&nbsp;  Favorites</a>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a class="dropdown-toggle" style="cursor:pointer" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-diagram-3-fill"></i>&nbsp;  Register
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <li>
                                        <a class="text-black dropdown-item" asp-area="Admin" asp-controller="AdminCategory" asp-action="Create"><i class="bi bi-plus-square"></i>&nbsp;  Category</a>
                                    </li>
                                    <li>
                                        <a class="text-black dropdown-item" asp-area="Admin" asp-controller="AdminGame" asp-action="Create"><i class="bi bi-plus-square"></i>&nbsp;  Game</a>
                                    </li>
                                    <li>
                                        <a class="text-black dropdown-item" asp-area="Admin" asp-controller="AdminSmartphone" asp-action="Create"><i class="bi bi-plus-square"></i>&nbsp;  Smartphone</a>
                                    </li>
                                    <li>
                                        <a class="text-black dropdown-item" asp-area="Admin" asp-controller="AdminShoes" asp-action="Create"><i class="bi bi-plus-square"></i>&nbsp;  Shoes</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-area="Admin"
                               asp-controller="AdminProduct"
                               asp-action="Index"><i class="bi bi-graph-down-arrow"></i>&nbsp;  Chargebacks</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Conteúdo principal à esquerda -->
            <div class="col-md-8 ms-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </div>
        </main>
    </div>


    <!-- FOOTER -->
    <footer class="bg-dark bg-cover">
        <div class="py-12 border-bottom">
            <div class="container container_layout">
                <div class="row">
                    <div class="col-12 col-md-3 mt-3">
                        <h4 class="mt-3 text-white">Mega shop</h4>
                        <ul class="list-unstyled list-inline mb-7 mb-md-0">
                            <li class="list-inline-item">
                                <a href="#!" class="text-gray-350">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!" class="text-gray-350">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!" class="text-gray-350">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!" class="text-gray-350">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!" class="text-gray-350">
                                    <i class="fab fa-medium"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm mt-3">
                        <h6 class="heading-xxs mb-3 mt-3 text-white">
                            Account
                        </h6>
                        <ul class="list-unstyled mb-7 mb-sm-0">
                            <li>
                                <a a asp-controller="Account" asp-action="Login">Sign in</a>
                            </li>
                            <li>
                                <a a asp-controller="Account" asp-action="Register">Sign up</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm mt-3">
                        <h6 class="heading-xxs  mb-3 mt-3 text-white">
                            About Us
                        </h6>
                        <ul class="list-unstyled mb-7 mb-sm-0">
                            <li>
                                <a href="#">MegaShop</a>
                            </li>
                            <li>
                                <a href="#">Investor Relations</a>
                            </li>
                            <li>
                                <a href="#">Trends</a>
                            </li>
                            <li>
                                <a href="#">Sustainability</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm mt-3">
                        <h6 class="heading-xxs  mb-3 mt-3 text-white">
                            Company
                        </h6>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a class="text-gray-300" href="./about.html">Our Story</a>
                            </li>
                            <li>
                                <a class="text-gray-300" href="#!">Careers</a>
                            </li>
                            <li>
                                <a class="text-gray-300" href="#!">Terms & Conditions</a>
                            </li>
                            <li>
                                <a class="text-gray-300" href="#!">Privacy & Cookie policy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm mt-3">
                        <h6 class="heading-xxs  mb-3 mt-3 text-white">
                            Contact
                        </h6>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a asp-controller="Contact" asp-action="Contact">Contact</a>
                            </li>
                            <li>
                                <a href="#!">Track shipments</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Privacy">FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-6">
            <div class="container  mt-3">
                <div class="row">
                    <div class="col mb-3">
                        <p class="mb-md-0 fs-xxs text-muted">
                            © 2023 All rights reserved. Designed by Unvab.
                            <a href="https://github.com/rafael-dev2021">
                                <span style="color:blueviolet;font-size:20px"><i class="bi bi-github"></i></span>
                            </a>
                        </p>
                    </div>
                    <div class="col-auto mb-3">
                        <img class="footer-payment" src="~/images/payments/mastercard (1).svg" alt="...">
                        <img class="footer-payment" src="~/images/payments/visa (1).svg" alt="...">
                        <img class="footer-payment" src="~/images/payments/amex.svg" alt="...">
                        <img class="footer-payment" src="~/images/payments/paypal (1).svg" alt="...">
                        <img class="footer-payment" src="~/images/payments/maestro.svg" alt="...">
                        <img class="footer-payment" src="~/images/payments/klarna.svg" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/GetProductsListPartial.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
