@{
    ViewBag.Title = "About us";
}

<!-- BANNER SECTION -->
<section id="banner" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1>About us</h1>
                <p class="my-3">Our supermarket store is a company dedicated to providing customers with the best possible online shopping experience. With years of experience in the market, we are proud to have built a talented team of experts in software development, graphic design and digital marketing.</p>
                <p class="my-3">Our mission is to offer a wide selection of high quality products, competitive prices, and exceptional customer service. We believe that online shopping should be easy, convenient, and fun, and we are committed to making that happen.</p>
                <div class="d-flex flex-row my-3">
                    <div class="d-flex flex-column mr-3">
                        <h3>4.8</h3>
                        <div class="d-flex flex-row">
                            <i class="fas fa-star mr-1"></i>
                            <i class="fas fa-star mr-1"></i>
                            <i class="fas fa-star mr-1"></i>
                            <i class="fas fa-star mr-1"></i>
                            <i class="fas fa-star-half-alt mr-1"></i>
                        </div>
                        <p>Based on 120 reviews</p>
                        <h3>98%</h3>
                        <p>of satisfied customers</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 banner-img">
                <img src="~/images/contact.jpg" class="img-fluid" alt="about-us-image">
            </div>
        </div>
    </div>
</section>

<!-- HISTORY SECTION -->
<section id="history" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Our History</h2>
                <p>Since our founding in 2023, our grocery store has grown rapidly to become one of the leading retailers in the country. We started as a small online store offering just a few grocery items, but quickly expanded our catalog to include a wide variety of products, from food and beverages to cleaning and personal care products.</p>
                <p>Today, our supermarket store is known for its competitive prices, exceptional product selection, and world-class customer service. We pride ourselves on providing an online shopping experience that is easy, convenient, and fun for all of our customers, and we are committed to continue to improve and grow to meet your needs.</p>
            </div>
            <div class="col-lg-6 history-img">
                <img src="/images/history.jpg" class="img-fluid" alt="history-image">
            </div>
        </div>
    </div>

</section>
<!-- TEAM SECTION -->
<section id="team" class="my-5 ">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12">
                <h2>Meet our team</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-3 col-md-6">
                <div class="card h-60">
                    <img src="/images/jj.jpg" class="card-img-top" alt="team-member-1">
                    <div class="card-body">
                        <h5 class="card-title">João</h5>
                        <p class="card-text">Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 ">
                <div class="card h-60">
                    <img src="~/images/cc.jpg" class="card-img-top" alt="team-member-2">
                    <div class="card-body">
                        <h5 class="card-title">Carlos</h5>
                        <p class="card-text">Marketing Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card h-60">
                    <img src="/images/aa.jpg" class="card-img-top" alt="team-member-3">
                    <div class="card-body">
                        <h5 class="card-title">Ana</h5>
                        <p class="card-text">Graphic Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card h-60">
                    <img src="/images/ff.jpg" class="card-img-top" alt="team-member-4">
                    <div class="card-body">
                        <h5 class="card-title">Julia</h5>
                        <p class="card-text">Customer Service</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="avaliacoes" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Customer reviews</h2>
                <hr class="my-4">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-5 mb-lg-0">
                            <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center">Very Good!</h5>
                                <h6 class="card-price text-center">4.5 stars</h6>
                                <hr>
                                <p class="text-center">"I was very satisfied with the quality of the products and the fast delivery. I will definitely buy again."</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-5 mb-lg-0">
                            <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center">Great service</h5>
                                <h6 class="card-price text-center">5 stars</h6>
                                <hr>
                                <p class="text-center">"I was very well attended by the employees of Supermercado Online."</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-5 mb-lg-0">
                            <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center">Excellent variety</h5>
                                <h6 class="card-price text-center">4 stars</h6>
                                <hr>
                                <p class="text-center">"I found everything I needed in the Online Supermarket. The variety of products is excellent."</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*
<!-- FOOTER SECTION -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>&copy; 2023 Supermercado Online. Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
</footer>*@

