<style>

    .card {
        border: none;
        border-radius: 0px;
    }

    .col {
        position: relative;
        display: inline-block;
        overflow: hidden;
    }

        .col:hover {
            opacity: 1;
        }

    .figure-img:hover {
        transform: translateX(4px);
    }

    .card {
        overflow: hidden;
    }

        .card img {
            filter: brightness(95%);
            transition: filter 0.3s ease;
        }

        .card:hover img {
            filter: brightness(70%);
        }

    .quadrado {
        width: 250px;
        height: 420px;
        background-color: rgba(211, 211, 211, 0.5);
        position: absolute;
        top: -20px;
        left: -30px;
        z-index: 1;
    }

    .quadrado2 {
        width: 250px;
        height: 420px;
        border: 1px solid lightgray;
        position: absolute;
        bottom: -20px;
        left: 80px;
        z-index: 1;
    }

    .media-decoration-img {
        position: relative;
        z-index: 2;
    }

    .cardsHover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        background-color: white;
        border-radius: 10px;
    }

    a {
        color: black;
    }

        a:hover {
            color: black;
        }
</style>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">

                <h6 class="heading-xxs mb-3 text-gray-400">
                    New Collection
                </h6>
                <h2 class="mb-4">Tech Symphony: A Melody of Innovation and Futuristic Designs</h2>

                <p class="mb-10 text-gray-500">
                    Amidst the tech landscape, where innovation converges and trends ascend, sleek engineering meets dynamic functionality. Devices infuse the market with cutting-edge designs, illuminating the path to technological evolution.
                </p>

            </div>
        </div>
    </div>
</section>

<hr class="bg-secondary mt-5" />
<!-- DISCOVER -->
<section class="pt-7 pt-md-9" style="margin-top:7%">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <!-- Divider -->
                <hr class="hr-sm bg-primary w-25" style="height:5px">
                <p class="fs-lg  text-black mb-5 mb-md-0" style="font-weight:600;font-size:15px">
                    Power in the palm of your hand.
                </p>
            </div>
            <div class="col-md-3">
                <div class="media-decoration media-decoration-1 mb-5 mb-md-0 position-relative">
                    <div class="quadrado"></div>
                    <img class="media-decoration-img img-fluid" src="~/images/assets/smarphones/iphone.jpg" alt="...">
                    <div class="quadrado2"></div>
                </div>
            </div>

            <div class="col-md-4 align-self-center mx-auto">

                <!-- Heading -->
                <h2 class="mb-2">
                    <em>Always</em> amazing experience
                </h2>

                <!-- Text -->
                <p class="mb-0 text-secondary">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis nisi, consequatur, laborum libero a neque ducimus. Porro rem illum quo nostrum quisquam asperiores. Possimus facilis velit, voluptatibus!
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<!-- DISCOVER -->
<section class="py-7 py-md-9" style="margin-top:7%">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4 align-self-center mx-auto">
                <!-- Heading -->
                <h2 class="mb-2">
                    <em>Next</em> wave devices
                </h2>

                <!-- Text -->
                <p class="mb-0 text-secondary">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis nisi, consequatur, laborum libero a neque ducimus. Porro rem illum quo nostrum quisquam asperiores. Possimus facilis velit, voluptatibus!
                </p>
            </div>
            <div class="col-md-2 align-self-end">
                <!-- Divider -->
                <hr class="hr-sm bg-primary w-25" style="height:5px">
                <p class="fs-lg  text-black mb-5 mb-md-0" style="font-weight:600;font-size:15px">
                    Embrace the freedom of technology.
                </p>
            </div>
            <div class="col-md-3">
                <div class="media-decoration media-decoration-1 mb-5 mb-md-0 position-relative">
                    <div class="quadrado"></div>
                    <img class="media-decoration-img img-fluid" src="~/images/assets/smarphones/samsung.jpg" alt="...">
                    <div class="quadrado2"></div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>

<section>
    <div class="py-3" style="margin-top:5%;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-4 col-sm-3 col-md text-center">
                            <img src="/images/Brands/asus.png" alt="..." class="img-fluid">
                        </div>

                        <div class="col-4 col-sm-3 col-md text-center">
                            <img src="/images/Brands/samsung.png" alt="..." class="img-fluid">
                        </div>
                        <div class="col-4 col-sm-3 col-md text-center">
                            <img src="/images/Brands/multilaser.png" alt="..." class="img-fluid">
                        </div>
                        <div class="col-4 col-sm-3 col-md text-center">
                            <img src="/images/Brands/iphone.png" alt="..." class="w-50 img-fluid" style="margin-top:8px">
                        </div>
                        <div class="col-4 col-sm-3 col-md text-center">
                            <img src="/images/Brands/infinix.png" alt="..." class="img-fluid ">
                        </div>
                        <div class="col-4 col-sm-3 col-md text-center">
                            <img src="/images/Brands/motorola.png" alt="..." class="img-fluid ">
                        </div>
                        <div class="col-4 col-sm-3 col-md text-center">
                            <img src="/images/Brands/xiaomi.png" alt="..." class="img-fluid" style="margin-top:39px">
                        </div>
                    </div>
                </div>
                <hr class="bg-secondary" />
            </div>
        </div>
    </div>
</section>

<section style="margin-top:5%" class="mb-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">
                <h6 class="heading-xxs mb-3 text-gray-400">
                    MOST SEARCHED
                </h6>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col col-md-4">
            <a href="#">
                <div class="card text-white position-relative">
                    <figure class="figure m-0">
                        <img src="~/images/assets/smarphones/iphonephone.png" class="figure-img img-fluid" alt="">
                    </figure>
                </div>
            </a>
        </div>
        <div class="col col-md-4">
            <a href="#">
                <div class="card text-white position-relative">
                    <figure class="figure m-0">
                        <img src="~/images/assets/smarphones/samsungphone.png" class="figure-img img-fluid" alt="">
                    </figure>
                </div>
            </a>
        </div>
        <div class="col col-md-4">
            <a href="#">
                <div class="card text-white position-relative">
                    <figure class="figure m-0">
                        <img src="~/images/assets/smarphones/motorola.png" class="figure-img img-fluid" alt="">
                    </figure>
                </div>
            </a>
        </div>
    </div>
</div>
<section style="margin-top:7%" class="mb-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">
                <h6 class="heading-xxs mb-3 text-gray-400">
                    SHOP BY PRICE RANGE
                </h6>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card cardsHover">
                    <a href="#">
                        <div style="line-height:20px" class="card-body d-flex flex-column justify-content-center align-items-center">
                            <h6 class="card-title">Until</h6>
                            <p class="card-text text-secondary" style="font-weight:400;font-size:2rem">$999</p>
                            <span href="#" class="text-primary ">View offers ></span>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardsHover">
                    <a href="#">
                        <div style="line-height:20px" class="card-body d-flex flex-column justify-content-center align-items-center">
                            <h6 class="card-title">Until</h6>
                            <p class="card-text text-secondary" style="font-weight:400;font-size:2rem">$1999</p>
                            <span href="#" class="text-primary ">View offers ></span>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardsHover">
                    <a href="#">
                        <div style="line-height:20px" class="card-body d-flex flex-column justify-content-center align-items-center">
                            <h6 class="card-title">Above</h6>
                            <p class="card-text text-secondary" style="font-weight:400;font-size:2rem">$1999</p>
                            <span href="#" class="text-primary ">View offers ></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="bg-secondary" style="margin-top:10%" />

<section class="container py-12 mt-5">
    <div class="col-md-12">
        <div class="row">
            @foreach (var items in Model)
            {
                @*  <div class="col-md-3">
            <partial name="~/Views/Shared/ProductsPartial/GetProductsListPartial/GetProductsList.cshtml" for="@items" />
            </div> *@
                @if (items.Category.CategoryName == "Smartphones")
                {
                    <div class="col-md-3">
                        <partial name="~/Views/Shared/ProductsPartial/GetProductsListPartial/GetProductsList.cshtml" for="@items" />
                    </div>
                }
            }
        </div>
    </div>
</section>


