@model HomeViewModel

<style>
    .fa-chevron-left, .fa-chevron-right {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        padding: 12px;
        background-color: #ffffff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    .fa-chevron-left {
        left: -5px;
    }

    .fa-chevron-right {
        right: -5px;
    }

    .style_card_home {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        background-color: white;
        border-radius: 10px;
        height: 12vh;
    }

    .card-img-overlay {
        position: absolute;
        top: -20%;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .card-title-categories {
        font-weight: 600;
        font-size: 2.5rem;
        color: #fff;
        line-height: 18px;
    }

    .card-title-text {
        font-weight: 400;
        font-size: 1.5rem;
        color: #fff;
    }
</style>
<section class="">
    <div class="bg-dark text-white position-relative">
        <img class="card-img" src="~/images/assets/banner.png" class="img-fluid " alt="Card image">

    </div>
</section>
<section>
    <div class="mt-5">
        <div class="row">
            <div id="owl-carousel-categories" class="owl-carousel">
                @foreach (var items in Model.GetCategoriesDto)
                {
                    <div class="item">
                        <partial name="~/Views/Shared/CategoriesPartial/_CategoriesPartial.cshtml" for="@items" />
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mb-3 mb-lg-0">
                <a href="#">
                    <img src="~/images/banner/BeechsideClothing.png" class="img-fluid w-100" style="border-radius:10px" />
                </a>
            </div>
            <div class="col-12 col-md-6 mb-3 mb-lg-0">
                <a href="#">
                    <img src="~/images/banner/newcollection.png" class="img-fluid w-100" style="border-radius:10px" />
                </a>
            </div>
        </div>
    </div>
</section>

<section class="container py-12 mt-5">
    <div class="col-md-12">
        <p style="font-weight:600;font-size:18px;color:gray">DAILY OFFERS  <i class="fa-sharp fa-regular fa-clock"></i></p>
    </div>
    <div class="row">
        <div class="owl-carousel">
            @foreach (var items in Model.GetProductsDailyOffersDto)
            {
                <div class="item">
                    <partial name="~/Views/Shared/ProductsPartial/GetProductsListPartial/GetProductsListOwlPartial.cshtml" for="@items" />
                </div>
            }
        </div>
    </div>
    <hr class="bg-secondary" />
</section>



<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">
                <h2 class="heading-xxs">
                    New Collection Summer
                </h2>
            </div>
        </div>
    </div>
</section>
<!-- DISCOVER -->
<section class="pt-7 pt-md-9" style="margin-top:4%">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto mb-3">
                <h6 class="text-center">
                    <img src="~/images/Brands/nike.png" class="figure-img w-25" />
                </h6>
                <a href="#">
                    <img class="media-decoration-img img-fluid" src="~/images/assets/nike.jpg" alt="...">
                </a>
            </div>
            <div class="col-md-4  mx-auto mb-3">
                <h6 class="text-center">
                    <img src="~/images/Brands/adidas.png" class="figure-img w-25" />
                </h6>
                <a href="#">
                    <img class="media-decoration-img img-fluid" src="~/images/banner/adidasfashion.jpg" alt="...">
                </a>
            </div>
            <div class="col-md-4  mx-auto mb-3">
                <h6 class="text-center">
                    <img src="~/images/Brands/puma.png" class="figure-img w-25" />
                </h6>
                <a href="#">
                    <img class="media-decoration-img img-fluid" src="~/images/banner/pumafashion.jpg" alt="...">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="container py-12 mt-5">
    <div class="col-md-12">
        <p style="font-weight:600;font-size:18px;color:gray">
            INSPIRED BY YOUR FAVORITES
    </div>
    <div class="row">
        <div class="owl-carousel">
            @foreach (var items in Model.GetProductsDto)
            {
                @if (items.Category.CategoryName == "Fashion")
                {
                    <div class="item">
                        <partial name="~/Views/Shared/ProductsPartial/GetProductsListPartial/GetProductsListOwlPartial.cshtml" for="@items" />
                    </div>
                }
            }
        </div>
    </div>
    <hr class="bg-secondary" />
</section>

<!-- DISCOVER -->
<section class="container">
    <div class="row">
        <div class="col-12 col-md-6 mb-3 mb-lg-0">
            <div class="card text-center" style="border:none">
                <div class="card-body mt-auto">
                    <a href="#">
                        <figure class="figure m-0">
                            <img src="~/images/banner/appleWatch.jpg" class="figure-img img-fluid" alt="">
                        </figure>
                        <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                            <h5 class="card-title-categories">Watch</h5>
                            <span style="color:red">SERIES 9</span>
                            <h6 class="card-title-text">Smarter.Brighter.Mightier.</h6>
                            <p class="text-primary">Learn more<i class="bi bi-chevron-right" style="font-size:0.75em"></i></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3 mb-lg-0">
            <div class="card text-center" style="border:none">
                <div class="card-body mt-auto">
                    <a href="#">
                        <figure class="figure m-0">
                            <img src="~/images/banner/applePods.jpg" class="figure-img img-fluid" alt="">
                        </figure>
                        <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                            <h5 class="card-title-categories">AirPods Pro</h5>
                            <h6 class="card-title-text">Adaptive Audio. Now Playing.</h6>
                            <p class="text-primary">Learn more<i class="bi bi-chevron-right" style="font-size:0.75em"></i></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


@{
    int countProducts = 0;
}
<section>
    <div class="container mt-4" style="color:gray">
        <div class="row">
            @foreach (var items in Model.GetProductsDto)
            {
                <div class="col-6 col-sm-2 col-md-4 col-lg-3">
                    <partial name="~/Views/Shared/ProductsPartial/GetProductsListPartial/GetProductsList.cshtml" for="@items" />
                </div>
                countProducts++;
                if (countProducts >= 8) break;
            }
        </div>
    </div>
</section>

<section>
    <div class="container mt-5 d-none  d-lg-block">
        <div class="col-md-12 style_card_home">
            <div class="row">
                <div class="col-md-3">
                    <div class="card-body ps-5">
                        <h6 class="card-title">Fast and secure payment</h6>
                        <p style="font-weight:500; font-size:14px" class="card-subtitle mb-2 text-muted">All cards</>
                        <p style="border-right: 1px solid lightgray; height: 12vh; margin-top:-29%"></p>
                    </div>
                </div>
                <div class="col-md-1 pt-2 ps-5">
                    <i class="bi bi-credit-card-2-back text-black" style="font-size:2.5rem"></i>
                </div>
                <div class="col-md-2">
                    <div class="card-body">
                        <h6 class="card-title">12x without interest</h6>
                        <a href="#" style="font-weight:500; font-size:14px; color:blue" class="card-subtitle mb-2">See more</a>
                        <p style="border-right: 1px solid lightgray; height: 12vh; margin-top:-42%"></p>
                    </div>
                </div>

                <div class="col-md-1 pt-2 ps-5">
                    <i class="bi bi-wallet2 text-black" style="font-size:2.5rem"></i>
                </div>
                <div class="col-md-2">
                    <div class="card-body">
                        <h6 class="card-title">In the wallet</h6>
                        <a href="#" style="font-weight:500; font-size:14px; color:blue" class="card-subtitle mb-2">Learn more</a>
                        <p style="border-right: 1px solid lightgray; height: 12vh; margin-top:-42%"></p>
                    </div>
                </div>

                <div class="col-md-1 ps-5 pt-2">
                    <i class="bi bi-qr-code text-black" style="font-size:2.5rem"></i>
                </div>
                <div class="col-md-2">
                    <div class="card-body">
                        <h6 class="card-title">By qr code</h6>
                        <a href="#" style="font-weight:500; font-size:14px; color:blue" class="card-subtitle mb-2">See more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $('#owl-carousel-categories').owlCarousel({
            loop: true,
            nav: true,
            navText: ["<i class='fas fa-chevron-left'></i>", "<i class='fas fa-chevron-right'></i>"],
            responsive: {
                0: {
                    items: 3,
                    nav: false
                },
                600: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 6
                }
            }
        });
    </script>
}             