﻿<section>
    <partial name="~/Views/Shared/TemporaryFolder/_InCronstruction.cshtml" for="@Model" />
</section>
@model HomeViewModel

<div class="container mt-5">
    <div class="row">
        <div class="owl-carousel">
            @foreach (var items in Model.GetCategoriesDto)
            {
                <div class="item">
                    <partial name="~/Views/Shared/CategoriesPartial/_CategoriesPartial.cshtml" for="@items" />
                </div>
            }
        </div>
    </div>
</div>

<section>
    <div class="container mt-4" style="color:gray">
        <span style="font-family:Calibri; font-size:1.5rem">
            DAILY OFFERS
            <i class="fa-sharp fa-regular fa-clock"></i>
        </span>
        <div class="row">
            @foreach (var items in Model.GetProductsDailyOffersDto)
            {
                <div class="col-lg-4">
                    <partial name="~/Views/Shared/ProductsPartial/GetProductsListPartial/GetProductsList.cshtml" for="@items" />
                </div>
            }
        </div>
    </div>
</section>

@section Scripts {

    <!-- Owl-Carousel init -->
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                nav: true,
                navText: ["<i class='fas fa-chevron-left'></i>", "<i class='fas fa-chevron-right'></i>"],
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    600: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 6
                    }
                }
            });
        });
    </script>
}