﻿<section>
    <partial name="~/Views/Shared/TemporaryFolder/_InCronstruction.cshtml" for="@Model" />
</section>
@model HomeViewModel
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner d-sm-block" style="height:350px">
        <div class="carousel-item active">
            <img src="https://cdn.sanity.io/images/qa41whrn/staging/7e5fce759829d484213afe9aa02a11a89ebf2895-1440x350.jpg?w=2160&q=80&auto=format" class="d-block img-fluid w-100 " alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_327,c_limit/e35033a3-8e2c-4f03-b07a-409755fbd4a2/nike-just-do-it.jpg" class="d-block img-fluid w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/fw23_q4_wintersale_hp_masthead_large_d_01b69228c3.jpg" class="d-block img-fluid w-100" alt="...">
        </div>
    </div>
</div>

<div class="mt-5">
    <div class="row">
        <div class="owl-carousel">
            @foreach (var items in Model.GetCategoriesDto)
            {
                <div class="item">
                    <partial name="~/Views/Shared/CategoriesPartial/_CategoriesPartial.cshtml" for="@items" />
                </div>
            }
        </div>
    </div>
</div>

<section>
    <div class="container mt-4" style="color:gray">
        <span style="font-family:Calibri; font-size:1.5rem">
            DAILY OFFERS
            <i class="fa-sharp fa-regular fa-clock"></i>
        </span>
        <div class="row">
            @foreach (var items in Model.GetProductsDailyOffersDto)
            {
                <div class="col-lg-4">
                    <partial name="~/Views/Shared/ProductsPartial/GetProductsListPartial/GetProductsList.cshtml" for="@items" />
                </div>
            }
        </div>
    </div>
</section>

@section Scripts {

    <!-- Owl-Carousel init -->
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                nav: true,
                navText: ["<i class='fas fa-chevron-left'></i>", "<i class='fas fa-chevron-right'></i>"],
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    600: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 6
                    }
                }
            });
        });
    </script>
}
