@model IEnumerable<Application.Dtos.PaymentsDto.CreditCardDto>

<style>
    div.dataTables_wrapper div.dataTables_length {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    #css-aavpc_wrapper .dataTables_info {
        margin-top: 2%;
    }

    #css-aavpc_wrapper .dataTables_paginate {
        margin-top: 2%;
    }

    #css-aavpc{
        line-height:40px;
    }
</style>
@{
    ViewData["Title"] = "Credit Card";
}
<div class="col-md-12 col-lg-12">
    <h2 class="mt-4">Credit Card Information</h2>

    <table class="table table-striped table-hover mt-4" id="css-aavpc">
        <thead class="bg-dark">
            <tr class="text-white text-lg-center">
                <th>Id</th>
                <th>Credit Card Number</th>
                <th>Card Holder Name</th>
                <th>Expiration Date</th>
                <th>CVV</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-lg-center">
                    <td>@item?.Id.ToString()</td>
                    <td>@item?.CreditCardNumber</td>
                    <td>@item?.CreditCardHolderName</td>
                    <td>@item?.CreditCardExpirationDate</td>
                    <td>@item?.CreditCardCVV</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#css-aavpc').DataTable({
                "searching": false,
                "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
                "pageLength": 10,
                "language": {
                    "info": "Showing  _START_ to _END_ of _TOTAL_ entries"
                }
            });
        });
    </script>
}