@model IEnumerable<Application.Dtos.PaymentsDto.PaymentMethodDto>
<style>
    div.dataTables_wrapper div.dataTables_length,
    #css-aavpi_wrapper .dataTables_info,
    #css-aavpi_wrapper .dataTables_paginate {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .css-aavpi{
        line-height: 30px;
    }
</style>
@{
    ViewData["Title"] = "Payments Card";
}
<div class="col-md-12 col-lg-12">
    <h2 class="mt-4">Debit Card Information</h2>
    <table class="table table-striped mt-4 css-aavpi">
        <thead class="bg-dark">
            <tr class="text-white text-lg-center">
                <th>Debit card Id</th>
                <th>Debit Card Number</th>
                <th>Card Holder Name</th>
                <th>Expiration Date</th>
                <th>CVV</th>
                <th>SSN</th>
                <th>Payment date</th>
                <th>Reference</th>
                <th>Payment method</th>
                <th>Payment status</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.PaymentMethodObjectValue.PaymentMethod == "DebitCard")
                {
                    <tr class="text-lg-center">
                        <td>@item?.DebitCard?.Id.ToString()</td>
                        <td>@item?.DebitCard?.DebitCardNumber</td>
                        <td>@item?.DebitCard?.DebitCardHolderName</td>
                        <td>@item?.DebitCard?.DebitCardExpirationDate</td>
                        <td>@item?.DebitCard?.DebitCardCVV</td>
                        <td>@item?.SSN</td>
                        <td>@item?.PaymentMethodObjectValue?.PaymentDate</td>
                        <td>@item?.PaymentMethodObjectValue?.Reference.ToString()</td>
                        <td>@item?.PaymentMethodObjectValue?.PaymentMethod</td>
                        <td>@item?.PaymentMethodObjectValue?.PaymentStatusObjectValue?.PaymentStatus</td>
                        <td>@item?.Amount.ToString("C")</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<hr class="mt-5 mb-5" />

<div class="col-md-12 col-lg-12">
    <h2 class="mt-4">Credit Card Information</h2>
    <table class="table table-striped mt-4 css-aavpi">
        <thead class="bg-dark">
            <tr class="text-white text-lg-center">
                <th>Credit card Id</th>
                <th>Credit Card Number</th>
                <th>Card Holder Name</th>
                <th>Expiration Date</th>
                <th>CVV</th>
                <th>SSN</th>
                <th>Payment date</th>
                <th>Reference</th>
                <th>Payment method</th>
                <th>Payment status</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.PaymentMethodObjectValue.PaymentMethod == "CreditCard")
                {
                    <tr class="text-lg-center">
                        <td>@item?.CreditCard?.Id.ToString()</td>
                        <td>@item?.CreditCard?.CreditCardNumber</td>
                        <td>@item?.CreditCard?.CreditCardHolderName</td>
                        <td>@item?.CreditCard?.CreditCardExpirationDate</td>
                        <td>@item?.CreditCard?.CreditCardCVV</td>
                        <td>@item?.SSN</td>
                        <td>@item?.PaymentMethodObjectValue?.PaymentDate</td>
                        <td>@item?.PaymentMethodObjectValue?.Reference.ToString()</td>
                        <td>@item?.PaymentMethodObjectValue?.PaymentMethod</td>
                        <td>@item?.PaymentMethodObjectValue?.PaymentStatusObjectValue?.PaymentStatus</td>
                        <td>@item?.Amount.ToString("C")</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.css-aavpi').DataTable({
                "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
                "pageLength": 5,
                "language": {
                    "info": "Showing  _START_ a _END_ de _TOTAL_ entries"
                }
            });
        });
    </script>
}